.sucessBackground {
    background-color: var(--2-Background);
    width: 13,24vh;
    height: 53vh;
}

.formatText {
    align-items: center;
    padding: 50vh;
    margin-bottom: 1vh;

}

.welcomeTitle {
    font-size: 45px;
    font-weight: 400;
    font-family: Roboto;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    margin-bottom: 10vh;
}

.Checked {
    margin-right: 2vh;
}

.alignIcon {
    display: flex;
}

.espaco {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 4vh;

    font-family: Roboto;
    font-size: var(--26-fontsize);
    color: white;   
}

.line {
    width: 40vh;
    height: 2px;
    background-color: rgb(31, 29, 29); 
  }

  .classItens {
    display: flex;
  }

  .infoTitle {
    display: flex;
    margin-right: 2vh;
    font-size: var(--27-fontsize);
    font-weight: bold;
  }