.paragraph {
    color: var(--gray);
    font-family: var(--roboto);
    font-weight: 400;
}

.footerSubtitle {
    color: var(--white);
    font-family: var(--roboto);
    font-size: var(--20-fontsize);
    font-weight: 500;

    margin-bottom: 1.5vh;
}

.footerInfo {
    color: var(--white);
    font-family: var(--roboto);
    font-size: var(--16-fontsize);
    font-weight: 400;
}

.footerContainer {
    display: flex;
    align-items: center;
 
}

.wlogoContainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    padding: 80px 40px 40px 80px;
    margin-right: 5vw;
}

.MediaContainer {
    display: flex;
    gap: 2vh;
}

.aboutInfContainer {
    display: flex;
    gap: 12vh;
    padding-top: 6vh;
}

.footerList {
    display: flex;
    flex-direction: column;
    gap: 1.8vh;   
}


