@font-face {
    font-family: "Inter";
    src: url("path/to/inter.woff2") format("woff2");
  }


body {
    background-color: var(--1-Background);

}

:root {

    /* PALLET COLORS */

    --1-Background: #242424;
    --2-Background: #282828;
    --3-Background: #383838;
}