@font-face {
    font-family: "Roboto";
    src: url("path/to/roboto.woff2") format("woff2");
  }
  


body {
    background-color: var(--1-Background);

}

:root {

    /* PALLET COLORS */

    --1-Background: #242424;
    --2-Background: #282828;
    --3-Background: #383838;

    /* SET FONTS */

    --Roboto: "Roboo", serif;
    
}