@font-face {
    font-family: "Roboto";
    src: url("path/to/roboto.woff2") format("woff2");
  }
  

  :root {

    /* PALLET COLORS */

    --1-Background: #242424;
    --2-Background: #282828;
    --3-Background: #383838;

    /* PRIMARY */
    --white: #FFFFFF;

    /* SECONDARY */
    --yellow: #FBA403;

    /* THIRD */
    --gray: #B3B3B3;

    /* SETFONT */
    
    --roboto: "Roboto", sans-serif;
    
    /* FONTSIZE */

    --12-fontsize: 12px;
    --14-fontsize: 14px;
    --16-fontsize: 16px;
    --20-fontsize: 20px;
    --24-fontsize: 24px;
    --26-fontsize: 26px;
    --27-fontsize: 27px;
    --45-fontsize: 45px;
    --50-fontsize: 50px;
    --71-fontsize: 71px;
}

body {
    background-color: var(--1-Background);
}