.RideModal {
    display: flex;
    justify-content: center;
    padding: 7vh;
    
}

.Need {
    font-size: var(--26-fontsize);
    font-family: Roboto;
    font-weight: 400;
    color: var(--white);
}

.myRIDE {
    font-size: var(--50-fontsize);
    font-family: Roboto;
    font-weight: 700;
    color: var(--white);
}

.fontStyle {
    font-size: var(--50-fontsize);
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
}

.changeColor {
    color: var(--yellow);
    letter-spacing: -0.25px;
}

.Direction {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin-top: 3.8vh;
}

.BackgroundFormStyle {
    position: absolute;
    margin-top: 20vh;
    margin-left: 72vh;
    width: 55vh;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.findStyle {
    font-size: var(--24-fontsize);
    font-family: Roboto;
    font-weight: bold;
    color: var(--white);
}

.justColumn {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.btnSearch {
    width: 55vh;
    height: 6vh;
    border-radius: 5px;
    border: none;
    line-height: 3vh;

    font-family: var(--roboto);
    font-size: var(--14-fontsize);
    font-weight: 500;
    color: var(--white);
    background-color: var(--yellow);

    cursor: pointer;
}

.btnSearch:focus {
    width: 55.2vh;
    height: 6.2vh;
}

.SearchIcon {
    display: flex;
    margin-top: 0.5vh;
    margin-left: 20vh;
    gap: 5px;
}

.CarPNG {
    width: 610px;
    height: 593px;
}